.antd-breadcrumb{
  line-height: 20px;
  li {
    span{
      font-size: 14px;
      height: 20px;
    }
    a {
      font-size: 14px;
      height: 20px;
      color: theme('colors.blue.500');
      &:hover {
        color: theme('colors.blue.400');
        background: none;
      }
      &:active {
        color: theme('colors.blue.600');
      }
    }
    &:last-child {
      color: theme('colors.gray.700');
    }
  }

  .antd-breadcrumb-separator {
    display: inline-flex;
    align-items: center;
  }
}
